#register {
  width: 500px;
  border: 1px solid #d6d7da;
  padding: 50px 50px 50px 50px;
  border-radius: 10px;
  font-family: arial;
  line-height: 16px;
  color: #333333;
  font-size: 14px;
  background: #ffffff;
  margin: 100px auto;
  font-family: cursive
}

#login {
  width: 500px;
  border: 1px solid #d6d7da;
  padding: 50px 50px 50px 50px;
  border-radius: 10px;
  font-family: arial;
  line-height: 16px;
  color: #333333;
  font-size: 14px;
  background: #ffffff;
  margin: 200px auto;
  font-family: cursive
}

form label, form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: black;
  font-weight: bolder;
}

form input {
  padding: 10px;
  border: solid 1px #BDC7D8;
}

.button {
  background-color: #3ac162;
  border-color: #3ac162;
  font-weight: bold;
  padding: 12px 15px;
  cursor: pointer;
  color: #ffffff;
  width: 104.5%;
}

.buttonlogin {
  background-color: #4e9fc4;
  border-color: #3ac162;
  font-weight: bold;
  padding: 12px 15px;
  cursor: pointer;
  color: #ffffff;
  width: 104.5%;
}

.errorMsg {
  color: #e62f2f;
  margin-bottom: 12px;
  font-family: cursive;
}

.valid {
  color: #270;
  margin-bottom: 12px;
  font-family: cursive;
  padding: 10px;
  width: 500px;
  background-color: #DFF2BF;
}

.valid1 {
  color: #270;
  margin-bottom: 12px;
  font-family: cursive;
  padding: 10px;
  width: 780px;
  background-color: #DFF2BF;
}

.user {
  color: #9F6000;
  margin-bottom: 12px;
  font-family: cursive;
  padding: 10px;
  width: 500px;
  background-color: #FEEFB3;
}

.sucessMsg {
  color: #6B8E23;
  margin-bottom: 10px;
}

.heading {
  margin-bottom: 30px;
  color: black;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

#nav-container {
  text-align: center;
  margin-top: 100px;
  margin-bottom: -75px;
  color: black
}

#nav-container1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: -75px;
  color: black
}

.text-secondary {
  color: blue;
  margin-right: 10px
}

.pull-right {
  text-align: center
}

@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);
body {
  background-image: url('./images/simple-pattern-with-css3.png');
}

.container {
  width: 800px;
  margin: 80px auto 80px;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  text-align: center;
}

.container1 {
  width: 800px;
  margin: 40px auto 80px;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  text-align: center;
}

.avatar-flip {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
}

.avatar-flip img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.avatar-flip img:first-child {
  z-index: 1;
}

.avatar-flip img:last-child {
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

h4 {
  font-size: 30px;
  color: #00baff;
  letter-spacing: 1px;
  margin-bottom: 25px
}

p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}

.logout {
  margin-left: 760px;
  background-color: turquoise;
  padding: 10px 10px 10px 10px;
  color: white;
  text-decoration: none;
  border-radius: 25%;
}

.file {
  margin-left: -525px;
  color: #009688;
  font-family: cursive;
  margin-bottom: 10px;
}

.started {
  color: red;
  text-align: center;
  text-decoration: none;
}

.button1 {
  width: 300px;
  display: inline-block;
  padding: 20px 50px 20px 50px;
  background-color: #4b638e;
  font-size: 16px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 40%;
  border-radius: 5%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bolder;
  cursor: pointer;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.welcome {
  color: white;
  top: 50%;
  font-family: monospace;
  margin-top: 330px;
  margin-left: 620px;
  font-size: 30px;
}

.file1 {
  margin-right: 699px;
  font-weight: bold;
  margin-bottom: 5px;
}